html {
    scroll-behavior: smooth;
    background-color: #f8f9f9;
}

hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: 2px solid #CCC;
    color: #CCC;
    text-align: center;
    width: 20%;
}

hr:after {
    content: "*\a0\a0\a0*\a0\a0\a0*";
    display: inline-block;
    background: none;
    position: relative;
    top: -0.65em;
    font-size: 1.5em;
    padding: 0 1em;
    background: #F9F9F9;
}
