html {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 1px solid #bbbbbb;
  color: #bbbbbb;
  text-align: center;
  width: 300px;
}

hr:after {
  content: "*\a0\a0\a0*\a0\a0\a0*";
  font-weight: 400;
  display: inline-block;
  background: none;
  position: relative;
  top: -0.65em;
  font-size: 1.5em;
  padding: 0 1em;
  margin: 0 -1em;
  background: #fafafa;
}

@media (min-width: 800px) {
  .ReactModal__Content {
    inset: 10vh auto auto calc(50vw - 300px) !important;
    width: 600px !important;
  }
}
