@font-face {
    font-family: Garamond Medium Display;
    src: url(GaramondPremrPro-MedDisp.otf); }
  @font-face {
    font-family: Garamond Medium Italic Subhead;
    src: url(GaramondPremrPro-MedItSubh.otf); }
  @font-face {
    font-family: Garamond Semibold Subhead;
    src: url(GaramondPremrPro-SmbdSubh.otf); }
  @font-face {
    font-family: Garamond Subhead;
    src: url(GaramondPremrPro-Subh.otf); }
  @font-face {
    font-family: Garamond Regular;
    src: url(GaramondPremrPro.otf); }
  @font-face {
    font-family: Garamond Italic;
    src: url(GaramondPremrPro-It.otf); }
  @font-face {
    font-family: Garamond Bold;
    src: url(GaramondPremrPro-Bd.otf); }
  @font-face {
    font-family: Garamond Caption;
    src: url(GaramondPremrPro-Capt.otf); }
  @font-face {
    font-family: Source Code Pro Medium;
    src: url(SourceCodePro-Medium.otf); }
  @font-face {
    font-family: Source Code Pro Regular;
    src: url(SourceCodePro.otf); }
  body {
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -ms-font-feature-settings: "kern";
    color: #012;
    background-color: #012;
    margin: 0;
    text-align: center; }
    body h1, body h2, body h3, body h4, body h5, body h6 {
      font-weight: normal; }
    body .center {
      text-align: center; }
    body em {
      font-family: Garamond Italic;
      font-style: normal; }
    body strong {
      font-family: Garamond Bold;
      font-weight: normal; }
    body small {
      font-family: Garamond Caption, serif;
      font-size: 12pt; }
    body span.sc {
      font-feature-settings: "smcp";
      -webkit-font-feature-settings: "smcp";
      -moz-font-feature-settings: "smcp";
      -ms-font-feature-settings: "smcp"; }
    body div#header {
      background-color: #DEF;
      background-image: radial-gradient(ellipse farthest-corner at center bottom, #EFF 0%, #DEF 100%);
      background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #EFF 0%, #DEF 100%);
      background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #EFF 0%, #DEF 100%);
      background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #EFF 0%, #DEF 100%);
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      text-align: center; }
      body div#header h1 {
        font-family: Garamond Medium Display, serif;
        font-size: 36pt;
        font-weight: normal;
        font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        -moz-font-feature-settings: "smcp";
        -ms-font-feature-settings: "smcp";
        text-shadow: 0 1px 0 #FFF;
        margin: 36pt 0; }
      body div#header h2 {
        font-family: Garamond Caption, serif;
        font-size: 12pt;
        font-weight: normal;
        font-feature-settings: 'onum';
        -webkit-font-feature-settings: 'onum';
        -moz-font-feature-settings: 'onum';
        -ms-font-feature-settings: 'onum';
        text-shadow: 0 1px 0 #FFF;
        margin: 0 0 36pt 0; }
      body div#header a {
        color: #012;
        text-decoration: none; }
    body div#banner-container {
      display: block;
      overflow: hidden; }
      body div#banner-container img#banner {
        display: block;
        position: relative;
        width: 110%; }
    body div#main {
      background-color: #012;
      background-image: radial-gradient(ellipse farthest-side at center top, #124 0%, #012 100%);
      background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #124 0%, #012 100%);
      background-image: -moz-radial-gradient(center top, ellipse farthest-side, #124 0%, #012 100%);
      background-image: -ms-radial-gradient(center top, ellipse farthest-side, #124 0%, #012 100%); }
      body div#main div.box {
        font-family: Garamond Regular, serif;
        font-size: 16pt;
        background-color: #FFE;
        border-radius: 2pt;
        box-shadow: 0 8pt 8pt #000;
        text-align: left;
        display: inline-block;
        max-width: 600pt;
        min-width: 240pt;
        margin: 58.25pt 0;
        padding: 36pt; }
        body div#main div.box > :first-child {
          margin-top: 0; }
        body div#main div.box > :last-child {
          margin-bottom: 0; }
        body div#main div.box h1 {
          font-family: Garamond Medium Italic Subhead, serif;
          font-size: 32pt;
          margin-top: 48pt; }
        body div#main div.box h2 {
          font-family: Garamond Semibold Subhead, serif;
          font-size: 20pt;
          margin-top: 30pt; }
        body div#main div.box h3 {
          font-family: Garamond Subhead, serif;
          font-size: 20pt;
          font-feature-settings: "smcp";
          -webkit-font-feature-settings: "smcp";
          -moz-font-feature-settings: "smcp";
          -ms-font-feature-settings: "smcp";
          text-align: center;
          margin-top: 30pt; }
        body div#main div.box p span.time, body div#main div.box p span.rsvp {
          font-feature-settings: "smcp";
          -webkit-font-feature-settings: "smcp";
          -moz-font-feature-settings: "smcp";
          -ms-font-feature-settings: "smcp";
          margin-right: 12pt; }
        body div#main div.box p span.name {
          margin-left: 6pt; }
        body div#main div.box a {
          color: #048; }
        body div#main div.box dl dt, body div#main div.box dl dd {
          margin-bottom: 1em; }
        body div#main div.box dl dt {
          font-family: Garamond Bold;
          font-weight: normal; }
        body div#main div.box dl dd {
          margin-left: 2em; }
        body div#main div.box span.notimplemented {
          color: #DDC; }
        body div#main div.box hr {
          border: solid black;
          border-width: 1px 0 0 0;
          width: 100%;
          margin: 32pt auto; }
        body div#main div.box hr#present {
          border-width: 2px 0 0 0; }
        body div#main div.box form#application {
          width: 500pt; }
          body div#main div.box form#application textarea {
            height: 300pt; }
        body div#main div.box form {
          font-family: Garamond Caption, serif;
          font-size: 12pt;
          margin-top: 36pt; }
          body div#main div.box form fieldset {
            margin: 16pt 0;
            padding: 16pt;
            border: 1px solid #EEE; }
            body div#main div.box form fieldset legend {
              text-align: center; }
            body div#main div.box form fieldset legend + label {
              margin-top: 0; }
            body div#main div.box form fieldset label {
              display: block;
              margin: 16pt 0 8pt 0; }
            body div#main div.box form fieldset label.required:after {
              color: #FAA;
              content: " *"; }
          body div#main div.box form input[type=text], body div#main div.box form input[type=email], body div#main div.box form textarea {
            font-family: Garamond Caption, serif;
            font-size: 12pt;
            color: #012;
            background-color: #FFF;
            border: 1px solid #EEE;
            outline: none;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 2pt; }
          body div#main div.box form textarea {
            resize: none; }
          body div#main div.box form table {
            margin: auto;
            border-collapse: collapse; }
            body div#main div.box form table td.label {
              width: 48pt;
              padding: 0 12pt 0 0; }
            body div#main div.box form table td.input {
              width: 192pt;
              padding: 0; }
              body div#main div.box form table td.input input[type=text], body div#main div.box form table td.input input[type=email], body div#main div.box form table td.input textarea {
                border-bottom: 0; }
            body div#main div.box form table tr:nth-last-child(2) td.input textarea {
              border-bottom: 1px solid #EEE; }
            body div#main div.box form table td.submit {
              text-align: center; }
        body div#main div.box div#slideshow {
          text-align: center; }
          body div#main div.box div#slideshow div {
            white-space: nowrap;
            overflow: scroll; }
        body div#main div.box #cta {
          display: inline-block;
          margin: 0.67em;
          background-image: -webkit-linear-gradient(top, #048, #036);
          background-image: -moz-linear-gradient(top, #048, #036);
          background-image: -ms-linear-gradient(top, #048, #036);
          background-image: -o-linear-gradient(top, #048, #036);
          background-image: linear-gradient(to bottom, #048, #036);
          border-radius: 5px;
          font-family: Optima, Arial, sans-serif;
          padding: 8pt 16pt;
          color: #fff;
          font-size: 12pt;
          text-decoration: none; }
        body div#main div.box #cta:hover {
          background-image: -webkit-linear-gradient(top, #048, #05A);
          background-image: -moz-linear-gradient(top, #048, #05A);
          background-image: -ms-linear-gradient(top, #048, #05A);
          background-image: -o-linear-gradient(top, #048, #05A);
          background-image: linear-gradient(to bottom, #048, #05A);
          text-decoration: none;
          box-shadow: 0 1px 1px #DEF; }
        body div#main div.box #cta:active {
          box-shadow: none; }